.register-page {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f0f0f, #1c1c1c, #111);
}

.register-box {
    width: 380px;
    padding: 40px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.register-box h1 {
    color: white;
    margin-bottom: 10px;
}

.register-box p {
    color: #bbb;
    margin-bottom: 25px;
}

.register-box form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.register-box input {
    padding: 14px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 15px;
}

.register-box button {
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #e50914;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.register-box button:hover {
    background: #b20710;
}

.login-text {
    margin-top: 20px;
}

.login-text a {
    color: #e50914;
    text-decoration: none;
    font-weight: bold;
}